@CHARSET "ISO-8859-1";@CHARSET "ISO-8859-1";

/* Generic jCarousel Styles */
.block .jcarousel-skin-default ul,.block .jcarousel-skin-ie7 li {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-default .jcarousel-item {
  border: none;
}

.jcarousel-skin-default ul li {
  list-style-type: none;
}

.jcarousel-skin-default  .jcarousel-item {
  width: 165px;
  height: 220px;
  padding: 0;
  margin: 0 auto;
}

.jcarousel-skin-default  .jcarousel-clip-horizontal {
  width: 165px;
  height: 220px;
  margin: 0 auto;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 165px;
  height: 220px;
  padding: 0 22px;
  margin: 0;
  background-color: transparent;
  border: none;
  margin: 0 auto;
}

.jcarousel-skin-default .jcarousel-prev-horizontal,.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  width: 22px;
  height: 39px;
  left: 0;
  top: 80px;
  background: url("../img/arrow-left.png") center no-repeat;
}

.jcarousel-skin-default .jcarousel-next-horizontal,.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  width: 22px;
  height: 39px;
  top: 80px;
  right: 0;
  background: url("../img/arrow-right.png") center no-repeat;
}

/* FRONT PAGE BANNER */

/* Banner Layout */

#views_slideshow_singleframe_main_frontpage_banner-block_1 {
  height: 370px;
  margin: 10px 0 0;  
  overflow: hidden;
}

#banner_area .promo_left {
  float: left;
  margin-top:10px;
  margin-right: 20px;
  width: 300px;
  height:290px;
  overflow:hidden;
}

#banner_area .promo_right {
  float: left;
  text-align: right;
  width: 610px;
  margin-left:15px;
}

#banner_area .teaser {
  margin-bottom: 17px;
}

#banner_area .button-link {
  margin-bottom: 25px;
}

#banner_area .button-link {
  margin-bottom: 25px;
}

#banner_area .media-wrapper {
  box-shadow: 3px 3px 4px #210401;
  margin-right:5px;
  height:350px;
  width:610px;
  -moz-box-shadow: 3px 3px 4px #210401;
  -webkit-box-shadow: 3px 3px 4px #210401;
}

#banner_area .embed-other-wrapper {
  overflow:hidden;
}

#banner_area .source {
  font-size: 12px;
  margin-top: 3px;
}

/* Banner Controls */

#banner_area .views-slideshow-controls-bottom {
  height: 34px;
  margin-left: 53px;
  position: relative;
  top: -65px;
  left: 75px;
  width: 176px;
  z-index: 99;
}

#views_slideshow_singleframe_playpause_frontpage_banner-block_1 {
  visibility:hidden;
}

#views_slideshow_singleframe_next_frontpage_banner-block_1 {
  left: -7px;
  position: relative;
  top: 19px;
}

#views_slideshow_singleframe_prev_frontpage_banner-block_1 {
  left: -60px;
  position: relative;
  top: 19px;
}

/* Video Play Button */

#banner_area .emvideo-thumbnail-replacement span  {
  background: url("../img/play_button_light.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 83px;
  position: absolute;
  width: 83px;
}

#banner_area .emvideo-thumbnail-replacement {
  position: relative;
  display: block;
}

#banner_area .emvideo-thumbnail-replace-full .emvideo-thumbnail-replacement span {  
  left: 280px;
  top: 135px;
}

#banner_area  .emvideo-thumbnail-replacement span:hover {
  background: url("../img/play_button.png") no-repeat scroll 0 0 transparent;
}

/* Admin Links */

.front #banner_area .edit {
  display:none;
}

#banner_area .admin_top {
  float:left;
  margin-top:2px;
}

#banner_area .admin_top ul.links {
  display: inline;
  line-height: 0;
  padding-left:5px;
}

/* END FRONT PAGE BANNER /*

/* Frontpage Node Create Form Styling */

#conditional-field-frontpage-banner-type .form-radios .form-item {
  display:inline;
  padding-right:20px;
}

#conditional-field-frontpage-banner-videotype .form-radios .form-item {
  display:inline;
  padding-right:20px;
}

#conditional-field-frontpage-banner-videotype #edit-field-frontpage-banner-videotype-value--wrapper {
  display: none;
}
  

