@CHARSET "ISO-8859-1";

/* FAQ */
.view-faq .admin_links a {
  padding: 5px;
  margin:0;
  font-size: 10px;
}

#right_top #block-views--exp-faq-page_1 .views-exposed-form {
  margin: 0 10px 10px;
  width: 200px;
}

.view-faq .item-list ul li {
  list-style: none outside none;
  margin: 0 0 0.25em 1.5em;
  padding: 0;
}

/* Staff/Board */
.view-staff .helper_links, .view-board-of-directors .helper_links {
  margin-bottom: 10px;
}

.view-staff .helper_links a, .view-board-of-directors .helper_links a {
  margin-right: 10px;
}

.node-type-staff .content-left {
  float: left;
  font-style: italic;
  text-align: center;
  width: 170px;
}

.node-type-staff .content-right {
  margin-left: 200px;
}

#staff-board-teaser {
  width: 320px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  min-height: 110px;
}

.staff-board-teaser-left {
  float:left;
}

.staff-board-teaser-right {
  margin-left: 100px;
}

#staff-board-teaser .views-field-field-job-title-value {
  font-style: italic;
  font-size: 12px;
}

#staff-board-teaser .views-field-field-brief-bio-value {
  margin-top: 5px;
}

#staff-board-teaser .views-field-view-node {
  margin-top: 5px;
  font-size: 12px;
}

/* HELPER LINKS */
.cycle_links ul.links li a {
  font-size: 12px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
}

.cycle_links ul.links li.last a {
  border: 0;
}

#staff-board-teaser .admin_links a {
  font-size: 12px;
  padding-left: 5px;
}
