/* appnovation stylesheet */

/*HOMEPAGE STYLES*/
.front #sidebar-left {
  float: left;
  width: 310px;
}

.front #left-bottom {
  background: url(../img/bg-300px.png) no-repeat center top;
}

.front #left-bottom .block-views {
  padding: 30px 0;
  background: url(../img/views-shadow.jpg) no-repeat 4px bottom;
}

.front #main {
  width: 360px;
}

.front .block-views h2 {
  font-size: 17px;
  padding: 0 20px;
  padding-top: 0px;
  text-align: left;
  margin: 0;
}

.front .feed-icon {
  bottom: 12.5px;
  margin-bottom: -5px;
  position: relative;
}

.block .view-id-national_blog .views-row,.view-id-member_blog .views-row
  {
  margin-bottom: 15px;
}

.view-id-member_blog .views-row .views-field-title a {
  font-weight: bold;
}

#featured-articles .feed-icon {
  left: 120px;
}

#national-blog .feed-icon {
  left: 96px;
}

#member-blogs .feed-icon {
  left: 96px;
}

#featured-articles .views-field-nothing,#featured-articles .views-field-field-editorial-teaser-value,#member-blogs .views-field-created
  {
  color: #756D67;
  font-size: 11px;
}

#right-bottom #block-block-18 {
  text-align: center;
  background: url('../img/box-divider.jpg') no-repeat center 178px;
}

#block-block-18 em {
  color: #ad210b;
  font: italic 1.4em Georgia, "Times New Roman", serif;
}

a#get-email-updates {
  display: block;
  line-height: 32px;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  height: 32px;
  width: 228px;
  background: url(../img/btn-blue-200x32.gif) no-repeat center center;
  margin-left: -17px;
}

a#join-a-group {
  display: block;
  line-height: 32px;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  height: 32px;
  width: 228px;
  background: url(../img/btn-red-200x32.gif) no-repeat center center;
  margin-left: -17px;
}

#block-block-27 p {
  text-align: center;
}

#block-block-27 em {
  color: #ad210b;
  font: italic 1.4em Georgia, "Times New Roman", serif;
}

a#become-coordinator {
  display: block;
  line-height: 32px;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  height: 32px;
  width: 228px;
  background: url(../img/btn-blue-200x32.gif) no-repeat center center;
  margin-left: -17px;
}

#right-bottom #block-c4l-c4l_block_get_local {
  background: url('../img/get-local.jpg') no-repeat;
  display: block;
  width: auto;
  height: 274px;
  text-align: center;
}

#block-c4l-c4l_block_get_local h2 {
  line-height: 14px;
  padding-top: 0;
}

#remove-form {
  margin-top: 140px;
}

/*Fix the horizontal scroling on the homepage */
.view-legistlativeEfforts div.views-cycle {
  width: 200px;
  overflow: hidden;
}

.view-legistlativeEfforts .views-cycle .views-row {
  width: 200px !important;
}

/*Fix the horizontal scroling on the homepage */
#featured-articles a.feed-icon,#national-blog  a.feed-icon,#member-blogs  a.feed-icon,.view-id-Newswire a.feed-icon
  {
  background: url(../img/feed.png) center center no-repeat;
  text-indent: -99999px;
  display: block;
  width: 16px;
  height: 16px;
}

.view-id-Newswire a.feed-icon {
  background-image: url(../img/icon-rss-red.gif);
}

.view-id-Newswire a.feed-icon {
  float: left;
  margin-left: 153px;
  margin-top: -12px;
}

#featured-articles a.feed-icon img,#national-blog  a.feed-icon img,#member-blogs  a.feed-icon img
  {
  display: none;
}

.front #main-container {
  width: 960px;
  margin: 0 auto;
}

#block-menu-menu-header,#block-menu-menu-authheader {
  font-family: "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
  float: right;
  font-size: 13px;
}

#block-menu-menu-header ul,#block-menu-menu-header li,#block-menu-menu-authheader ul,#block-menu-menu-authheader li
  {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#block-menu-menu-header ul li,#block-menu-menu-header ul.menu li.leaf,#block-menu-menu-header ul.menu li.collapsed,#block-menu-menu-header ul.menu li.expanded,#block-menu-menu-header .item-list ul li,#block-menu-menu-authheader ul li,#block-menu-menu-authheader ul.menu li.leaf,#block-menu-menu-authheader ul.menu li.collapsed,#block-menu-menu-authheader ul.menu li.expanded,#block-menu-menu-authheader .item-list ul li
  {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  border-left: 1px solid #e8d7a3;
  float: left;
  padding: 16px 6px 6px 11px;
}

#block-menu-menu-header ul li.first,#block-menu-menu-header ul.menu li.leaf.first,#block-menu-menu-header ul.menu li.collapsed.first,#block-menu-menu-header ul.menu li.expanded.first,#block-menu-menu-header .item-list ul li.first,#block-menu-menu-authheader ul li.first,#block-menu-menu-authheader ul.menu li.leaf.first,#block-menu-menu-authheader ul.menu li.collapsed.first,#block-menu-menu-authheader ul.menu li.expanded.first,#block-menu-menu-authheader .item-list ul li.first
  {
  border: none;
}

#block-menu-menu-header ul li.first a {
  background: url("../img/login-button.png") no-repeat scroll left top
    transparent;
  display: block;
  height: 20px;
  text-indent: -9999px;
  width: 66px;
}

#block-menu-menu-header a,#block-menu-menu-authheader a {
  color: #473f29;
}

.fleft {
  float: left;
}

.home-author-picture img {
  border: 1px black solid;
}

.home-author-picture {
  margin: 5px 15px 0 0;
}

h1.article-title a {
  color: #ad210b;
  text-transform: none;
}

h1.article-title {
  margin: 0 0 2px 0;
  font-size: 20pt;
  line-height: normal;
  font-weight: normal;
}

h4.article-date {
  color: #756d67;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  line-height: normal;
}

h5.article-author {
  font-size: 10pt;
  font-family: Arial, sans-serif;
  margin: 0;
  color: #756d67;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
  margin-bottom: 15px;
}

.arcicle-body p {
  color: #4a4542;
  margin-bottom: 12px;
}

.article-comments {
  font-weight: lighter;
  font-size: 9pt;
  margin: 10px 0;
}

.homepage-content { /*margin:0 0 60px 0;*/
  padding-bottom: 70px;
  margin-bottom: 30px;
  background: url(../img/views-shadow.jpg) center bottom no-repeat;
}

.homepage-content .addtoany {
  float: left;
  clear: both;
  padding-top: 10px;
}

.article-taxonomy {
  color: red;
}

#footer-top .block {
  width: 230px;
  float: left;
  margin-right: 5px;
}

#footer-top .block h2 {
  background-image: none;
}

/* jcarousel styles */
.block .jcarousel-skin-ie7 ul,.block .jcarousel-skin-ie7 li {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-ie7 .jcarousel-item {
  border: none;
}

.jcarousel-skin-ie7 ul li {
  list-style-type: none;
}

.jcarousel-skin-ie7 .jcarousel-item {
  width: 165px;
  height: 200px;
  padding: 0;
  margin: 0 auto;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
  width: 165px;
  height: 200px;
  margin: 0 auto;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
  width: 165px;
  height: 220px;
  padding: 0 22px;
  margin: 0;
  background-color: transparent;
  border: none;
  margin: 0 auto;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal,.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover
  {
  width: 22px;
  height: 39px;
  left: 0;
  top: 80px;
  background: url(../img/arrow-left.png) center no-repeat;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal,.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover
  {
  width: 22px;
  height: 39px;
  top: 80px;
  right: 0;
  background: url(../img/arrow-right.png) center no-repeat;
}

#right-bottom #block-views-featured_blocks-block_1,#right-bottom #block-views-featured_blocks-block_2
  {
  background: url(../img/bg-h2.gif) bottom center no-repeat;
}

#right-bottom #block-views-featured_blocks-block_1 h2,#right-bottom #block-views-featured_blocks-block_2 h2
  {
  background-image: none;
}

#footer-top .block h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 18pt;
  line-height: 1.15;
  color: #c5b78e;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0;
  margin: 0;
}

.newswire-item h3 a {
  color: #c5b78e;
}

.newswire-item h3 {
  font-size: 14pt;
  font-family: arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.newswire-item {
  color: white;
  font-size: 10pt;
}

#footer-top #block-views-Newswire-block_1 {
  width: 380px;
  margin-left: 15px;
}

#footer-top #block-block-19 {
  width: 320px;
  color: white;
}

#footer-top #block-block-19  h4 {
  font-family: arial, sans-serif;
  line-height: normal;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 12pt;
}

#footer-top #block-block-19 ul {
  margin-bottom: 20px;
}

#footer-top #block-block-19 ul li {
  margin: 0 0 0 10px;
}

#footer-top #block-block-19 .left-block,#footer-top #block-block-19 .right-block
  {
  float: left;
  width: 150px;
}

#footer-top #block-block-19  h4 a,#footer-top #block-block-19  li a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

#block-views-Newswire-block_1 .more-link a {
  font-family: Georgia, serif;
  font-weight: bolder;
  font-style: italic;
  color: #c5b78e;
  background-image: url(../img/arrow-footer.png);
}

.view-id-Newswire.view-display-id-page_1 p {
  color: black;
}

.view-id-Newswire.view-display-id-page_1 a {
  color: #AD210B;
  font-family: Georgia serif;
  font-weight: bolder;
  font-style: italic;
}

.view-id-Newswire p {
  margin: 0;
}

.view-id-Newswire .views-row {
  margin-bottom: 20px;
}

.view-id-Newswire.view-display-id-page_1 .views-row {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#featured-admin-page .featured {
  padding: 10px;
  background-color: #e0fee0;
}

#featured-admin-page .not-featured {
  padding: 10px;
  background-color: #feffe3;
}

#featured-admin-page .homepage-content {
  background: none;
  padding: 5px 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #ccc;
}

#featured-admin-page .homepage-content h1.article-title {
  font-size: 16pt;
}

#main-menu .menu-70405 a,#main-menu .menu-70034 a {
  color: #FFF;
  background: url(../img/store-btn.png) center no-repeat;
  width: 78px;
  text-align: center;
  display: block;
  position: relative;
  padding: 0 5px;
}

.front #block-views-featured_articles-block_8 h2,.front #block-views-national_blog-block_4 h2,.front #block-views-member_blog-block_3 h2
  {
  font-size: 16pt;
  padding-bottom: 5px;
  background: none;
}

#main-menu .menu-70405,#main-menu .menu-70034 {
  float: right;
}

#homepage_banner h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 15px 0 10px;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.15;
  color: #fff;
  text-transform: none;
}

#homepage_banner h1 a {
  color: #fff;
}

#homepage_banner .source {
  color: #755753;
  font-size: 12px;
}

#homepage_banner .promo_left {
  width: 300px;
  float: left;
  margin-right: 20px;
}

#homepage_banner .promo_right {
  width: 630px;
  float: left;
  text-align: right;
}

#banner-area .views_slideshow_singleframe_main {
  width: auto;
}

#banner-area .teaser {
  margin-bottom: 17px;
}

#banner-area .button-link a {
  background: url(../img/btn-banner.gif) 0 0 no-repeat;
  width: 160px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #3e3825;
  font-family: Georgia, sans-serif;
  font-weight: bolder;
}

#banner-area .button-link a:hover {
  text-decoration: none;
}

#banner-area .button-link {
  margin-bottom: 25px;
}

#footer-top #block-views-featured_blocks-block_3 {
  float: right;
  margin-right: -8px;
}
/* Group blog style changes */
.view-group-blog h2.title {
  float: left;
}

.view-group-blog .feed-icon {
  float: right;
}

/* Group blog style changes */
.view-group-blog h2.title {
  float: left;
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

.view-group-blog .feed-icon {
  float: right;
  margin-bottom: 0px;
}

#block-views-group_blog-block_1 .view-group-blog .view-content .node h2
  { /*  margin-top:10px;
  margin-bottom:2px;
  padding:0px;
  font-size:16px;*/
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

#block-views-group_blog-block_1 .view-group-blog .view-content {
  margin-top: 20px;
}

#block-views-group_blog-block_1 .view-group-blog .view-content .node .links
  {
  display: none;
}

#block-views-group_announcement-block_1 .view-content td {
  padding-bottom: 2px;
  margin-bottom: 2px;
}

#block-views-group_announcement-block_1 .more-link {
  padding: 0px;
  margin-bottom: 20px;
}

.view.view-og-events.view-id-og_events.view-display-id-page .view-header
  {
  float: left;
}

.view.view-og-events.view-id-og_events.view-display-id-page .feed-icon {
  float: left;
  line-height: 5em;
  margin-bottom: 0px;
  margin-left: 10px;
}

.view-id-og_events .image-left {
  float: left;
  margin-right: 15px;
}

.views-og-events .info-right {
  
}

.view-id-og_events .info-right .red {
  color: #B33837;
}

.view-og-events.view-display-id-page .date_box1 {
  float: left;
}

.view-og-events.view-display-id-page .right-info {
  float: left;
}

.view-og-events.view-display-id-page .right-info.has-photo {
  width: 420px;
}

.view-og-events.view-display-id-page .right-info .location {
  font-style: italic;
  font-size: 0.8em;
  color: gray;
}

.view-og-events.view-display-id-page .right-photo {
  float: right;
  margin-bottom: 50px;
}

/* This is for the new Get Local block */
#block-block-26 h2 {
  position: relative;
  z-index: 1;
}

/* og group members */
.view-id-og_members_faces table td,.view-id-og_members_block {
  text-align: center;
  vertical-align: top;
}

.view-id-og_members_block .item-list ul li {
  border-top: #CCCCCC 1px dotted;
  padding-top: 4px;
  list-style: none;
  background: none;
  margin-left: 0;
  padding-left: 0em;
  text-indent: -1em;
}

.view-id-og_members_faces tr.row-first td,.view-id-og_members_block ul li:first-child
  {
  border-top: none;
}

.view-id-og_members_faces div.picture,.view-id-og_members_block div.picture
  {
  float: none;
}

.views-field-is-admin {
  font-style: italic;
}

/* views tables */
.view-view-projects tr.even,.view-view-projects tr.odd {
  background-color: #fff;
}