/* @group Reset */

/* Based on http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/* @end */

/* @group Layout */

/* @group Header */

#wrap-header{
    background: url(../img/header-bg.jpg) repeat-x left top;
}

#header{
    background: url(../img/main-header.jpg) no-repeat center top;
}

#header-top{
    width: 950px;
    margin: 0 auto;
    height: 130px;
    position: relative;
    z-index: 0;
}
#header-top .block-area{
    position: absolute;
    width: 950px;
    z-index: 10;
    height: 55px;
    top: 0;
}
#header-bottom{
    width: 950px;
    margin: 0 auto;
    height: 50px;
    position: relative;
    z-index: 0;
}

a#logo{
    display: block;
    width: 200px;
    height: 130px;
    text-decoration: none;
}

/* @end */

/* @group Banner Area */

#wrap-banner{
    background-color: #460700;
}
#banner{
    background: url(../img/banner-main-bg.jpg) no-repeat center top;
    padding: 10px 0;
}
#banner-content{
    width: 950px;
    margin: 0 auto;
}

#breadcrumb{
    font-size: 13px;
    color: #c7ba94;
}

#breadcrumb a{
    color: #fff;
}
#banner-area{
    color: #a89d94;
    font-size: 14px;
    line-height: 19px;
    padding: 5px 0;
}
/* @end */

/* @group Main Content */

/* @group Left Sidebar */
#sidebar-left{
    float: left;
    width: 230px;
}
#left-bottom{
    background: url(../img/box-topframe.jpg) no-repeat center top;
}

/* @end */
#wrap-main{
    padding: 50px 0 0 0;
    background: url(../img/paper-bottom.jpg) repeat-x center top;
}
#main-container{
    width: 950px;
    margin: 0 auto;
}

.layout-main #main{
    width: 100%;
}

.layout-main-right #main{
    width: 690px;
    margin-right: 30px;
    float: left;
}
.layout-left-main #main{
    width: 690px;
    margin-left: 30px;
    float: left;
}
.layout-left-main-right #main{
    width: 430px;
    margin-right: 30px;
    margin-left: 30px;
    float: left;
}

/* @group Right Sidebar */

#sidebar-right{
    float: left;
    width: 230px;
}

#right-bottom{
    background: url(../img/box-topframe.jpg) no-repeat center top;
    font-size: 13px;
    line-height: 17px;
    clear: both;
}

#right-bottom .block{
    background: url(../img/box-divider.jpg) no-repeat center bottom;
    padding: 10px 18px 20px;
}

/* @end */

/* @end */

/* @group Footer */
#wrap-footer{
    background: url(../img/footer-bg.jpg) repeat-x left bottom;
}
#footer{
    width: 950px;
    height: 625px;
    margin: 0 auto;
}

#footer-top{
    padding: 105px 0 0;
    height: 425px;
    background: url(../img/footer-top-bg.jpg) no-repeat center top;
}

#footer-bottom{
    background: url(../img/footer-bottom-bg.jpg) no-repeat center top;
    padding: 20px 0 0;
}

/* @end */




/* @end */

/* @group Font Styles */

html,
body{
    font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #4a4542;
}

p{
    margin: 3px 0 10px;
}

h1{
    color: #ad210b;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 15px 0 10px;
    font-weight: normal;
}


h2{
    color: #ad210b; 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 21px;
    line-height: 30px;
    margin: 15px 0 10px;
    font-weight: bold;
}

h3{
    color: #87774a; 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 21px;
    line-height: 30px;
    margin: 15px 0 10px;
    font-weight: bold;  
}

h4{
    color: #ad210b;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0 10px;
    font-style: italic;
}

h5{
    color: #87774a; 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0 10px;
    font-weight: bold;
    font-style: italic; 
}

h6{
    color: #ad210b;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 30px;
    margin: 15px 0 10px;
}

ol{
    list-style-type: decimal;
    margin: 3px 0 10px 10px;
}

ul{
    margin: 3px 0 10px 15px;
}

ol li{
    margin: 0 0 0 25px;
    padding: 0 0 5px 0;
}

.node ul li{
    background: url(../img/bullet.jpg) no-repeat left 6px;
    margin: 0;
    padding: 0 0 5px 15px;
}

.node .inline li{
    background: none;
}

blockquote{
    font-size: 15px;
    line-height: 22px;
    font-style: italic;
    margin: 15px 0;
    padding: 0 40px;
    background: url(../img/quote-bg.jpg) no-repeat left top;
}

a{
    color: #1e5594;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.small{
    font-size: 11px;
}
.small-bq{
    padding: 0 10px;
}
/* @group Overrides */
#banner-content h1{
    font-size: 28px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
}

#right-bottom h2{
    color: #87774a;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin: 10px 0;
}

#main .block h2{
    color: #87774a;
    font-size: 23px;
    line-height: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

/* @end */

/* @end */

/* @group Footer Menu */
#block-menu-menu-footer{
    margin-top: 20px;
}
#block-menu-menu-footer ul{
    margin: 0;
    padding: 0;
}
#block-menu-menu-footer li{
    display: inline;
    font-size: 11px;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
#block-menu-menu-footer li a{
    color: #c5b78e;
    border-right: 1px solid #6f605d;
    line-height: 11px;
    padding: 0 10px 0 5px;
}


/* @end */

/* @group Right Menu */
#right-top .block-menu_block{
    border: solid 4px #e3ddce;
    background-color: #f7f4e6;
    margin-bottom: 30px;
}
#right-top .block-menu_block .content{
    background: url(../img/menu-box-topframe.jpg) no-repeat center top;
    padding: 18px;
}

#right-top .block-menu_block ul.menu{
    padding: 0;
    padding: 0;
    border-bottom: 1px solid #d9d2c0;
}
#right-top .block-menu_block ul.menu ul{
    border-bottom: none;
}

#right-top .block-menu_block ul.menu li,
#right-top .block-menu_block ul.menu li.active li,
#right-top .block-menu_block ul.menu li.active-trail li.active li{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #d9d2c0;
    line-height: 29px;
    background: none;
}
#right-top .block-menu_block ul.menu li.active{
    background: url(../img/block-menu-hover-bg.jpg) no-repeat left top;
}

#right-top .block-menu_block ul.menu li a,
#right-top .block-menu_block ul.menu li.active li a,
#right-top .block-menu_block ul.menu li.active-trail li.active li a{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #473f29;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 9px;
    background: none;
}
#right-top .block-menu_block ul.menu li.active-trail li a{
    padding-left: 18px;
    font-weight: normal;
}
#right-top .block-menu_block ul.menu li.active-trail li.active-trail li a{
    padding-left: 27px;
    font-weight: normal;
}


#right-top .block-menu_block ul.menu li.active a,
#right-top .block-menu_block ul.menu li.active-trail li.active a,
#right-top .block-menu_block ul.menu li.active-trail li.active-trail li.active a{
    font-weight: bold;
    color: #951b08;
    background: url(../img/box-menu-arrow.jpg) no-repeat 2px center;
}
#right-top .block-menu_block ul.menu li.active-trail a,
#right-top .block-menu_block ul.menu li.active-trail li.active-trail a{
    font-weight: bold;
}
/* @end */

/* @group Pager */
.item-list .pager{
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    margin: 20px 0 10px;
}
.item-list .pager li{
    margin: 0;
}
.item-list .pager li a{
    color: #1e5594;
}
.item-list .pager .pager-current{
    font-weight: normal;
    background: url(../img/pager-active.jpg) no-repeat center center;
}
.item-list .pager .pager-next a{
    background: url(../img/pager-next.jpg) no-repeat left center;
    padding-left: 15px;
    letter-spacing: -0.45em;
    color: #fff;
}
.item-list .pager .pager-previous a{
    background: url(../img/pager-prev.jpg) no-repeat right center;
    padding-right: 15px;
    letter-spacing: -0.45em;
    color: #fff;
}
.item-list .pager .pager-last,
.item-list .pager .pager-first{
    display: none;
}
/* @end */

/* @group Main Menu */
#main-menu{
    position: absolute;
    z-index: 10;
    width: 950px;
    bottom: 0;
    left: 0;
    height: 40px;
}
#main-menu ul li{
    padding: 0;
    margin: 0px;
}

#main-menu a{
    color: #473f29;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    padding: 0px 10px;
    display: block;
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
}
#main-menu .active-trail a,
#main-menu a:hover{
    color: #951b08;
    text-decoration: none;
}
#main-menu .active-trail a{
    background: url(../img/menu-hover.jpg) repeat-x center bottom;
}


/* @end */

/* @group Search Box */
#header-search{
    position: absolute;
    width: 223px;
    height: 25px;
    background: url(../img/main-search-bg.jpg) no-repeat left center;
    right: 0;
    top: 55px;
    padding: 5px 0 0 5px;
}
#header-search label{
    display: none;
}

#header-search .form-submit{
    border: none;
    font-size: 14px;
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
}
#header-search .form-text{
    border: none;
    background: none;
    width: 144px;
    color: #918259;
}
/* @end */



/* @end */

/* @group Misc */

/* @group Buttons */
.red-btn-1{
    background: url(../img/red-btn-1.jpg) no-repeat center center;
    line-height: 32px;
    width: 138px;
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
a.red-btn-1{
    text-decoration: none;
}


/* @end */

/* @group Tabs */
#main div.tabs{
    background: url(../img/main-divider.jpg) no-repeat center bottom;
    border: none;
    margin: 5px 0;
    padding-bottom: 13px;
}
#main div.tabs ul{
    margin: 0;
    padding: 0;
}
#main div.tabs li{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#main div.tabs ul.secondary a{
    padding: 0 6px;
}

/* @end */
.clear{
    line-height: 1px;
    font-size: 1px;
    margin: 0;
    padding: 0;
    clear: both;
}

.print-link{
    padding-bottom: 0;
}

.more-link{
    text-align: left;
    padding: 10px 0;
    margin: 0;
}
.more-link a{
    font-size: 13px;
    background: url(../img/read-more.jpg) no-repeat right center;
    padding-right: 15px;
}

hr{
    background: url(../img/main-divider.jpg) no-repeat center bottom;
    padding: 0px;
    margin: 0px;
    height: 25px;
    clear: both;
    border: none;
}

/* @end */

/* merged back in */

