/* $Id: color.css,v 1.0 2011/4/28 00:32:00 pirog Exp $ */

/* Global */
body,body#tinymce {
  background-color: #FFF;
  color: #4a4542;
}

body,table,td {
  color: #333;
}

#header {
  background: url("../img/header-bg.jpg") repeat-x left top;
}

.header_links .block-menu a {
  color: #473f29;
}

.header_links {
  color: #473f29;
}

.header_links a {
  color: #473f29;
} 

.header_links .block-menu ul li,.header_links .block-menu ul.menu li.leaf,.header_links .block-menu ul.menu li.collapsed,.header_links .block-menu ul.menu li.expanded,.header_links .block-menu .item-list ul li {
  border-left: 1px solid #e8d7a3;
}

.header_links .edit a {
  color: #333;
}

.header_links, .header_links .block-menu a:hover {
  color: #473f29;
}

#header_main {
  background: url("../img/main-header.jpg") no-repeat center top;
}

#header_search {
  background: url("../img/main-search-bg.jpg") no-repeat scroll left
    center transparent;
}

#header_search .form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #FFFFFF;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity =   80);
}

#header_search .form-text {
  border: none;
  background: none;
  color: #918259;
}

#header_search .form-submit:hover {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity =   100);
}

#banner {
  background-color: #460700;
  background-repeat: repeat-x;
}

#banner_main {
  background: url("../img/banner-main-bg.jpg") no-repeat center top;
}

#banner_area a {
  color: #fff;
}

#breadcrumb {
  color: #c7ba94;
}

#breadcrumb a {
  color: #fff;
}

#breadcrumb a:hover {
  text-decoration: underline;
}

#banner_area {
  color: #a89d94;
}

#banner_content h1 {
  color: #fff;
}

#page {
  background: url("../img/paper-bottom.jpg") repeat-x center top;
}

#left_bottom {
  background: url("../img/box-topframe.jpg") no-repeat center top;
}

#right_bottom {
  background: url("../img/box-topframe.jpg") no-repeat center top;
}

#right_bottom h2 {
  color: #87774a;
}

#footer {
  background: url("../img/footer-bg.jpg") repeat-x left bottom;
}

#footer #footer_main h3 a {
  color: #c5b78e;
}

#footer #footer_main .more-link a {
  color: #c5b78e;
}

#footer_top {
  background: url("../img/footer-top-bg.jpg") no-repeat center top;
  color: #FFF;
}

#footer_bottom {
  background: url("../img/footer-bottom-bg.jpg") no-repeat center top;
}

#footer_bottom .edit a {
  color:#FFFFFF;
}

#footer_bottom .block-block {
  color: #C5B78E;
}

#footer_bottom .block-menu li a {
  color: #c5b78e;
  border-right: 1px solid #6f605d;
}


#footer a.feed-icon {
  background: url("../img/icon-rss-red.gif") center center no-repeat;
}

.view-header a.feed-icon {
  background: url("../img/rss-icon-white.jpg") no-repeat center center;
}

a:link {
  color: #1e5594;
}

a:visited {
  color: #1e5594;
}

a:hover {
  color: #4BB0A3;
}

a:visited:hover {
  color: #4BB0A3;
}

a:focus {
  color: #333;
}

tr.odd { /* background-color: #E6E6E6; */
  
}

tr.even { /* background-color: #FFF; */
  
}

th a:link,th a:visited {
  color: #A9D3E6;
}

blockquote {
  background: url("../img/quote-bg.jpg") no-repeat left top;
}

hr {
  background: url("../img/main-divider.jpg") no-repeat center bottom;
}

/* Headings */
h1 {
  color: #ad210b;
}

h2 {
  color: #ad210b;
}

h3 {
  color: #87774a;
}

h4 {
  color: #ad210b;
}

h5 {
  color: #87774a;
}

h6 {
  color: #ad210b;
}

/* Fieldsets */
div.collapsible h2.fieldset-title { /*background-color: #D6EDEA;*/
  
}

div.expanded h2.fieldset-title a:link,div.expanded h2.fieldset-title a:visited
  {
  color: #333;
}

h2.fieldset-title,div.collapsed h2.fieldset-title {
  background-color: #E2E2E2;
}

div.fieldset-content,fieldset {
  border: 1px solid #eee;
}

/* Tabs */
ul.tabs li a:link,ul.tabs li a:visited {
  background: #F6EDCE;
  color: #444444;
}

ul.tabs li a.active {
  background-color: #793A33;
  color: #FFFFFF;
}

#content div.tabs {
  background: url("../img/main-divider.jpg") no-repeat center bottom;
  border: medium none;
}

.more-link a {
  background: url("../img/read-more.jpg") no-repeat right center;
}

/* Menus */
li.active-trail a.active {
  color: #333;
}

ul.nice-menu,ul.nice-menu ul,ul.nice-menu li {
  border: none;
}

#main_menu a {
  color: #473f29;
}

#main_menu .active-trail a,#main_menu a:hover {
  color: #951b08;
}

#main_menu .active-trail a {
  background: url("../img/menu-hover.jpg") repeat-x center bottom;
}

.node ul li {
  background: url("../img/bullet.jpg") no-repeat left 6px;
}

.node .inline li {
  background: none;
}

/* Messages */
.status {
  background-color: #CDFFD1;
}

.help {
  background-color: #D2D9FF;
}

.notice {
  background-color: #FFFDB5;
}

div.error {
  background-color: #FCC;
  border: none;
}

tr.error {
  background-color: #FCC;
  color: #333;
}

/* Nodes */
.submitted {
  color: #777;
}

/* Comments */
.comment {
  border-bottom: 1px solid #E6E6E6;
}

/* Forms */
textarea,input.form-text,select {
  border: 1px solid #ccc;
}

input.form-text
textarea,select {
  color: #333;
  background-color: #fff;
}

input.form-submit,input.teaser-button,input[type=button] {
  background-color: #E6E6E6;
  border: none;
}

input.form-text:focus,textarea:focus {
  background-color: #F5F9FB;
}

.form-item input.error,.form-item textarea.error,.form-item select.error
  {
  border: 1px solid #F88;
}

/* Admin */
div.admin-dependencies,div.admin-required {
  color: #A3A3A3;
}

/* Modules */
#admin-menu li li {
  opacity: 1;
}

/* Blocks */
.block h2 {
  color: #87774a;
  background: url("../img/bg-h2.gif") 50% 100% no-repeat;
}

#right_bottom .block {
  background: url("../img/box-divider.jpg") no-repeat center bottom;
}

#content .block h2 {
  color: #87774a;
}

#footer_top .block h2 {
  color: #c5b78e;
}

#footer_top .block h2 {
  background-image: none;
}

/* Pager */
.item-list .pager li a {
  color: #1e5594;
}

.item-list .pager .pager-current {
  background: url("../img/pager-active.jpg") no-repeat center center;
}

.item-list .pager .pager-next a {
  background: url("../img/pager-next.jpg") no-repeat left center;
  color: #fff;
}

.item-list .pager .pager-previous a {
  background: url("../img/pager-prev.jpg") no-repeat right center;
  color: #fff;
}

.item-list .pager .pager-last,.item-list .pager .pager-first {
  display: none;
}