/* $Id: htmlelements.css,v 1.0 2011/4/28 00:32:00 pirog Exp $ */

/* Tables */
table,th,td {
  line-height: 1.35em;
}

table {
  width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}

th,td {
  padding: 5px 10px;
}

thead {
  background-color: #777;
  color: #fff;
}

thead th {
  border-bottom: none;
}

#user-admin-perm td.module {
  background-color: #777;
  color: #fff;
}

/* Blocks */
.block ul {
  padding: 0;
}

.block ul li {
  margin: 0;
}

#right_bottom .block {
  padding: 10px 18px 20px;
}

#left_bottom .block {
  padding: 10px 18px 20px;
}

#right_top .block {
  padding: 10px 18px 20px;
}

#left_top .block {
  padding: 10px 18px 20px;
}

#footer_top .block {
  width: 230px;
  float: left;
  margin-right: 5px;
}

.header_links .block-menu ul li,.header_links .block-menu ul.menu li.leaf,.header_links .block-menu ul.menu li.collapsed,.header_links .block-menu ul.menu li.expanded,.header_links .block-menu .item-list ul li {
  padding: 0;
  float: left;
  padding: 16px 6px 6px 11px;
}

.header_links .block-menu ul li.first,.header_links .block-menu ul.menu li.leaf.first,.header_links .block-menu ul.menu li.collapsed.first,.header_links .block-menu ul.menu li.expanded.first,.header_links .block-menu .item-list ul li.first,#block-menu-menu-authheader ul li.first,#block-menu-menu-authheader ul.menu li.leaf.first,#block-menu-menu-authheader ul.menu li.collapsed.first,#block-menu-menu-authheader ul.menu li.expanded.first,#block-menu-menu-authheader .item-list ul li.first {
  border: none;
}


.header_links .block {
  float:right;
}

.header_links .edit {
  float:right;
}

#content .block h2 {
  padding-top: 15px;
}

#footer_bottom .block-menu {
  margin-top: 0;
}

#footer_bottom .block-menu li.last a {
  border:0;
}

#footer_bottom .block-menu ul {
  margin: 0;
  padding: 0;
}

#footer_bottom .block-menu li {
  display: inline;
  margin: 0;
  padding: 0;
}

#footer_bottom .block-menu ul.menu li a {
  display:inline;
}

#footer_bottom .block-menu li a {
  padding: 0 10px 0 5px;
}

#footer_bottom .block-menu li.first a {
  padding-left:0;
}

/* Boxes */
#comments .comment .content {
  padding: 1em;
}

/* Messages */
div.messages,div.help,div.warning {
  padding: 1em;
  margin-bottom: 1em;
}

div.messages ul {
  margin: 0;
}

div.password-description {
  padding: 10px;
}

/* Nodes */
.node .content {
  padding-bottom: 1em;
}

/* Comments */
#comments {
  margin: 1em 0;
}

.comment {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#content .comment .content {
  margin: 1em;
  padding: 0;
}

/* Lists */
ul,ol {
  padding-left: 20px;
  margin-bottom: 1.5em;
  list-style: none;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ol {
  list-style-type: decimal;
}

.node ul li {
  margin: 0;
  padding: 0 0 5px 15px;
}

#content div.tabs {
  margin: 5px 0;
  padding-bottom: 13px;
}

#content div.tabs ul {
  margin: 0;
  padding: 0;
  white-space: normal;
}

#content div.tabs li {
  margin: 0;
  padding: 0;
}

#content div.tabs li a {
  height: auto;
  margin-right: 0.5em;
  padding: 0 1.2em;
  text-decoration: none;
}

#content div.tabs ul.secondary a {
  padding: 0 6px;
}

.print-link {
  padding-bottom: 0;
}

.more-link {
  text-align: left;
  padding: 10px 0;
  margin: 0;
}

.more-link a {
  padding-right: 15px;
}

/* Pager */
.item-list .pager {
  margin: 20px 0 10px;
}

.item-list .pager li {
  margin: 0;
}

.item-list .pager .pager-next a {
  padding-left: 15px;
}

.item-list .pager .pager-previous a {
  padding-right: 15px;
}

/* Drupal */
.meta {
  margin-bottom: 1em;
}

#search label {
  display: none;
}

/* Admin */
div.admin .left,div.admin .right {
  margin: 0;
}

div.admin-panel .body {
  padding: 0;
}

/* Teaser button */
.teaser-checkbox {
  float: right;
  position: relative;
  top: -4px;
  width: 60%;
}

#edit-teaser-include-wrapper {
  float: right;
}

#edit-teaser-include-wrapper label {
  margin-right: 20px;
}

/* Devel */
li.krumo-footnote span.krumo-call {
  font-size: 8px !important;
}

li.krumo-footnote {
  overflow: hidden;
}

/* Fieldsets */
fieldset,div.fieldset {
  margin: 10px 0;
}

h2.fieldset-title {
  font-size: 1em;
  margin: 10px 0 0 0;
  padding: 5px 10px;
  font-weight: bold;
}

.collapsed h2.fieldset-title {
  margin-bottom: 10px;
}

div.collapsible h2.fieldset-title {
  cursor: pointer;
}

div.fieldset-content {
  padding: 10px;
}

div.collapsed div.fieldset-content {
  display: none;
}

.vertical-tabs-panes {
  padding: 15px 0;
}

.container-inline div.fieldset-content {
  border: none;
  padding: 0;
}

.container-inline h2.fieldset-title {
  margin-bottom: 10px;
}

/* Forms */
.form-item {
  margin: 0 0 10px 0;
}

input,button,textarea,select,input.form-text,input.form-autocomplete,input.form-button
.form-item input.error,textarea.form-textarea,select.form-select {
  padding: 3px;
  font-size: 1em;
}

input.teaser-button {
  padding: 0 5px;
  font-size: 0.9em;
  margin-right: 3px;
}

.node-form .form-text,.node-form textarea {
  display: block;
  width: 95%;
}

input.form-submit {
  margin: 10px 5px 10px 0;
  cursor: pointer;
}

#search_box input.form-submit {
  margin: 0;
  cursor: pointer;
}

label {
  font-weight: bold;
}

.form-item label.option {
  font-size: 0.9em;
}

div.description {
  margin: 0 0 1em 0;
}

div.content-add-more {
  margin-bottom: 1.5em;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

html.js input.throbbing {
  background-position: 100% -15px;
}

.node-form fieldset .form-text {
  width: auto;
}

#header_search label {
  display: none;
}

#header_search .form-submit {
  cursor: pointer;
  position: absolute;
  margin: 0;
}

#header_search .form-text {
  width: 144px;
}

/* Core */
.admin-panel {
  margin: 10px 0 20px;
}

div.admin .left {
  float: left;
  width: 48%;
}

div.admin .right {
  float: right;
  width: 48%;
}

a
.admin-panel ul.menu {
  margin: 0;
  padding: 0;
}

.admin-panel ul.menu li {
  list-style: none;
}

tr.region-populated {
  display: none;
}

/* Modules */
.eminline-wrapper {
  margin-bottom: 1.5em;
}

.context-ui-block-selector {
  height: 500px;
}

/* Markup free clearing
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clear-block class into Drupal's markup.
 * From http://www.positioniseverything.net/easyclearing.html
 */
ul.links:after,.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Exclude inline links from clear-block behavior */
ul.inline:after {
  content: "";
  display: none;
  clear: none;
}

ul.links,.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html ul.links,* html .clear-block {
  height: 1%;
}

ul.links,.clear-block {
  display: block;
}

/* Feeds */
#footer a.feed-icon {
  text-indent: -99999px;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 1.66em 0 0 10px;
  bottom: auto;
  top: auto;
}

.view-header a.feed-icon {
  height: 16px;
  width: 16px;
  float: right;
  display: block;
  background: url("../img/rss-icon-white.jpg") no-repeat center center;
  text-indent: -5000px;
}

/* Views */
div.view-display-id-attachment_1 h5,div.view-display-id-attachment_1 .teaser
  {
  float: left;
  margin-left: 430px;
}

div.view-display-id-attachment_1 .teaser {
  height: 200px;
  overflow: hidden;
  width: 240px;
}

.views-row:after,.content:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/* End hide from IE-mac */