/* $Id: layout.css,v 1.1.2.11.2.3 2010/04/21 14:17:09 psynaptic Exp $ */

/* Global */
.limiter {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

#header_search {
  float: right;
}

#header_top {
  width: 950px;
  margin: 0 auto;
  height: 130px;
  position: relative;
  z-index: 0;
}

#header_top .header_links {
  height: 55px;
  position: absolute;
  right: 0;
  top: 0;
  width: 750px;
  z-index: 10
}

#header_search {
  height: 26px;
  padding: 5px 0 0 5px;
  position: absolute;
  right: 0;
  top: 55px;
  width: 223px;
}

a#logo {
  display: block;
  width: 200px;
  height: 130px;
  text-decoration: none;
}

#navigation {
  width: 950px;
  margin: 0 auto;
  height: 50px;
  position: relative;
  z-index: 0;
}

#banner_main {
  padding: 10px 0;
}

#banner_content {
  width: 950px;
  margin: 0 auto;
}

#banner_area {
  padding: 5px 0;
}

#page {
  padding: 50px 0 0 0;
}

.sidebar {
  width: 230px;
}

.one-sidebar #content {
  width: 690px;
}

.two-sidebars #content {
  width: 430px;
}

.no-sidebars #content {
  float: none;
  width: 100%;
}

.sidebar-right #content,.two-sidebars #content {
  float: left;
}

.sidebar-left #content {
  float: right;
}

#main {
  width: 950px;
  margin: 0 auto;
}

#left {
  margin-right: 30px;
  float: left;
}

#right {
  margin-left: 30px;
  float: right;
}

#left_bottom { /*clear: both;*/
  
}

#left_bottom .content {
  padding: 0 20px;
}

#right_bottom { /*clear: both;*/
  
}

#left_top { /*clear: both;*/
  
}

#right_top { /*clear: both;*/
  
}

#footer {
  min-height: 165px;
  margin-top: 20px;
}

#footer_main {
  height: 625px;
  margin: 0 auto;
}

#footer_top {
  padding: 105px 0 0;
  height: 425px;
}

#footer_bottom {
  padding: 30px 0 0;
}

#footer_bottom .block-content {
  padding: 0;
  margin: 0;
}

#footer_bottom .block-block {
  float:right;
}

#footer_bottom .block {
  margin:0;
  padding:0;
  height:0;
}


#footer_top_left {
  float: left;
  width: 320px;
  margin-right: 5px;
}

#footer_top_mid {
  float: left;
  width: 380px;
  margin-left: 15px;
}

#footer_top_right {
  float: left;
  width: 230px;
  margin-left: -8px;
}