/* $Id: typography.css,v 1.0 2011/4/28 00:32:00 pirog Exp $ */

/* Global */
body,input,textarea,select {
  font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

body {
  font-size: 14px;
  line-height: 19px;
}

/* This technique neutralizes font size differences for monotype fonts. */
html>body,html>textarea {
  font-size: 14px;
}

#site-name {
  font-size: 18px;
}

.header_links {
  font-family: "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
  font-size: 13px;
}

.header_links, .header_links .block-menu a:hover {
  text-decoration: underline;
}

.header_links .block-menu ul li,.header_links .block-menu ul.menu li.leaf,.header_links .block-menu ul.menu li.collapsed,.header_links .block-menu ul.menu li.expanded,.header_links .block-menu .item-list ul li {
  list-style-type: none;
  list-style-image: none;
}

#breadcrumb {
  font-size: 13px;
}

#banner_area {
  font-size: 14px;
  line-height: 19px;
}

#left_bottom {
  font-size: 13px;
  line-height: 17px;
}

#right_bottom {
  font-size: 13px;
  line-height: 17px;;
}

#footer_bottom .block-menu li a {
  line-height: 11px;
}

#footer_bottom .block-menu li a:hover {
  text-decoration: underline;
}

#footer_bottom .block-menu li {
  display: inline;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#footer #footer_main {
  font-size: 14px;
}

#footer a.feed-icon {
  text-indent: -99999px;
}

#footer_bottom {
  font-size: 11px;
}

#footer_bottom p {
  margin:0;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

address {
  font-style: normal;
  margin-bottom: 1.5em;
}

blockquote {
  font-size: 15px;
  line-height: 22px;
  font-style: italic;
  margin: 15px 0;
  padding: 0 40px;
  background: url("../img/quote-bg.jpg") no-repeat left top;
}

.small {
  font-size: 11px;
}

.small-bq {
  padding: 0 10px;
}

.more-link a {
  font-size: 13px;
}

.edit {
  font-size: 10px; 
}

.edit a:hover {
  text-decoration:underline;
}

hr {
  padding: 0px;
  margin: 0px;
  height: 25px;
  clear: both;
  border: none;
  outline: none;
}

code,pre {
  font-family: Monaco, "Lucida Console", monospace;
  white-space: pre;
  overflow: auto;
  margin-bottom: 1.5em;
}

/* @group Search Box */
#header_search .form-submit {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

/* Headings */
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 26px;
  line-height: 30px;
  margin: 15px 0 10px;
  font-weight: normal;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 30px;
  margin: 15px 0 10px;
  font-weight: normal;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 30px;
  margin: 15px 0 10px;
  font-weight: normal;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 30px;
  margin: 15px 0 10px;
  font-style: italic;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 30px;
  margin: 15px 0 10px;
  font-weight: bold;
  font-style: italic;
}

h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 30px;
  margin: 15px 0 10px;
}

h2.block-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  margin: 0px 0 10px;
}

#banner_content h1 {
  font-size: 28px;
  line-height: 17px;
  text-transform: none;
}

#right_bottom h2 {
  line-height: 22px;
  margin: 10px 0;
  padding-top: 0;
}

#left_bottom h2 {
  line-height: 22px;
  margin: 10px 0;
  padding-top: 0;
}

#content .block h2 {
  font-size: 23px;
  line-height: 25px;
}

#footer_top .block h2 {
  font-size: 18pt;
  text-align: left;
  padding: 20px 0;
  margin: 0;
}

#footer #footer_main h2 {
  font-size: 20px;
  font-weight: normal;
}

#footer #footer_main h3 a {
  font-size: 14px;
  font-weight: bold;
}

#content div.tabs li {
  font-size: 12px;
  text-transform: uppercase;
}

/* Blocks */
.block {
  margin-bottom: 20px;
}

.block ul li,.block .item-list ul li {
  list-style: none;
  list-style-image: none;
}

/* Drupal */
.breadcrumb {
  padding-top: 8px;
}

/* Accessibility */
.skip-link {
  font-size: 0.85em;
}

.acc-hide {
  left: -2500px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

#navigation .add-link {
  display: block;
}

/* Nodes and comments */
.node-teaser,div.panel-pane div.node-teaser {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.indented {
  margin-left: 20px;
}

/* Menus */
#main_menu a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  line-height: 40px;
}

#main_menu .active-trail a,#main-menu a:hover {
  text-decoration: none;
}

/* Pager */
.item-list .pager {
  font-size: 13px;
  line-height: 18px;
}

.item-list .pager .pager-current {
  font-weight: normal;
}

.item-list .pager .pager-next a {
  letter-spacing: -0.45em;
}

.item-list .pager .pager-previous a {
  letter-spacing: -0.45em;
}