@CHARSET "ISO-8859-1";
/* Custom Banner Styles */ 

#banner_area .source a {
  color: #755753;
}

#banner_area .source {
  color: #755753;
}

#banner_area .admin_links a:hover {
  text-decoration: underline;
}


#banner_area .source a:hover {
  text-decoration: underline;
}

#banner_area .teaser a:hover {
  text-decoration: underline;
}

#banner_area .button-link a {
  background: url(../img/btn-banner.gif) 0 0 no-repeat;
  width: 160px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #3e3825;
  font-family: Georgia, sans-serif;
  font-weight: bolder;
}

#banner_area .button-link {
  background: url(../img/btn-banner.gif) 0 0 no-repeat;
  width: 160px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #3e3825;
  font-family: Georgia, sans-serif;
  font-weight: bolder;
}

#banner_area .button-link {
  margin-bottom: 25px;
}

#banner_area .button-link a:hover {
  text-decoration: none;
  opacity: 0.7;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  filter: alpha(opacity = 70);
}

#banner_area .pager-item a {
  color: #a89d94;
  padding: 2px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#banner_area .activeSlide a {
  background-color: #550e03;
}

#banner_area .pager-item a:hover {
  text-decoration: underline;
}

#banner_area #views_slideshow_singleframe_playpause_frontpage_banner-block_1 {
  visibility:hidden;
}

#banner_area #views_slideshow_singleframe_next_frontpage_banner-block_1 {
  left: 30px;
  position: relative;
  top: 20px;
}

#banner_area #views_slideshow_singleframe_prev_frontpage_banner-block_1 {
  left: -70px;
  position: relative;
  top: 20px;
}

#banner_area #views_slideshow_singleframe_pager_frontpage_banner-block_1 {
  position:relative;
  left:-35px;
  width:100px;
}

#banner_area #views_slideshow_singleframe_next_frontpage_banner-block_1 {
  background: url(../img/arrow-right-banner.png) center no-repeat;
  text-indent: -99999px;
  font-size: 1px;
  padding: 10px;
}

#banner_area #views_slideshow_singleframe_prev_frontpage_banner-block_1 {
  background: url(../img/arrow-left-banner.png) center no-repeat;
  text-indent: -99999px;
  font-size: 1px;
  padding: 10px;
}

#banner_area #views_slideshow_singleframe_controls_frontpage_banner-block_1 a {
  color: #6F433C;
}
