@CHARSET "ISO-8859-1";

.front #left_bottom .views-row {
  margin-bottom: 5px;
}

.front #left_bottom .views-field-title {
  font-size: 14px;
}

.front #left_bottom .views-field-created {
  font-size: 11px;
  margin-bottom: 10px;
}

.front #left_bottom .views-field-delete-node {
  font-size: 11px;
}

.front #left_bottom .views-field-nodequeue-links ul.links li {
  font-size: 11px;
  display: block;
}

.front #content .views-row {
  min-height: 400px;
}

.front #content .picture  {
  float: left;
  padding-right: 15px;
  display: block;
}

.front #content .views-row {
  border-bottom:1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.front #content .views-field-title a {
  font-size: 20px;
  color: #AD210B;
  font-family: Georgia,"Times New Roman",Times,serif;
}

.front #content .views-field-created {
  font-size: 12px;
  margin-bottom: 10px;
}

.front #content .views-field-body {
  font-size: 14px;
  margin-left: 100px;
}

.front #content .views-field-delete-node {
  font-size: 11px;
  margin-left: 100px;
}

.front #content .views-field-nodequeue-links ul.links li {
  font-size: 11px;
  margin-left: 100px;
  display: block;
}

.front #content .views-field-view-node {
  display: inline;
  font-size: 12px;
  margin-left: 100px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.front #content .views-field-comments-link {
  display: inline;
  font-size: 12px;
  margin-left: 10px;
}

.front #content .views-field-comments-link ul.links  {
  display: inline;
}